@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



/*navbar styling*/
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: #000000;
    font-family: "Ubuntu", sans-serif;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu il {
    list-style: none;
    display: inline-block;
}

.navbar .menu il a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar .menu il a:hover {
    color: rgba(11, 172, 181, 1);
}

/*Home - Page*/

.avatar {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 44%;
    top: 10%;
}

.avatar>.img {
    width: 100%;
    height: 100%;
    border-radius: 75px;
}

.encabezadoB{
    top: 45%;
    left: 47%;
    position: absolute;
    font-family: 'Ubuntu';
}

.bio{
    top: 53%;
    left: 14.5%;
    position: absolute;
    font-family: 'Poppins';
    font-size: 18px;
    width: 1000px;
    height: 400px;
}

.secblog{
    top: 85%;
    position: absolute;
    width: 100%;
    height: 25%;
}

/*Admin - page*/
.container {
    position: absolute;
    top: 25%;
    left: 10%;
}

.container .admin {
    top: 0;
    left: 30%;
    position: absolute;
    font-size: 25px;
    font-family: "Ubuntu";
}

#EditarBiografia {
    text-align: justify;
    line-height: 100%;
    letter-spacing: normal;
    font-family: 14px;
    font-family: "Poppins";
}

#descripcion {
    text-align: justify;
    line-height: 100%;
    letter-spacing: normal;
    font-family: 16px;
    font-family: "Poppins";
}

#submit {
    width: 75px;
    height: 30px;
    background: #000;
    position: absolute;
    top: 100%;
    left: 40%;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins"
}

.blogBox{
    top: 95%;
    left: 40%;
    position:absolute;
}

.EmcabezadoBlog{
    text-align: center;
}

<!--Blog Pages-->

.blog {
    align-items: center;
    top: 20%;
    left:15%;
    position:absolute;
}

.center{
    align-items: center;
}